# Dependencies
/vendor
/node_modules

# Generated
/api/Resources/cache
/test-dir
/web/assets
/web/index.html
/contao-manager.phar
/contao-manager.phar.php
/contao-manager.version

# Local
/box.json
/build.xml
/.php_cs.cache
