# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.external*/
.idea/
nbproject/

# composer related
vendor/

# build
/build
build.properties
phpunit.xml
package-manager.phar
app/cache

# vendor files
/vendor/
/node_modules/
/bower_components/
