# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.external*/
.idea/
nbproject/

# composer related
vendor/

# build
/build
build.properties
tenside.phar
app/cache

# Components
/components/

# Node
/node_modules/

# Layout
/web/scripts.js
/web/styles.css
