{
    "stub": "build/stub.php",
    "main": false,
    "directories": ["api", "web"],
    "files": [
        "LICENSE"
    ],
    "blacklist": [
        "api/Tests"
    ],
    "finder": [
        {
            "name": "*",
            "exclude": ["Tests", "tests"],
            "in": "vendor"
        }
    ],
    "git-version": "package_version",
    "output": "contao-manager.phar"
}
