{
    "stub": "stub.php",
    "main": false,
    "directories": ["api", "dist"],
    "files": [
        "LICENSE",
        "downgrade.php"
    ],
    "blacklist": [
        "api/Tests"
    ],
    "finder": [
        {
            "name": "*",
            "exclude": ["Tests", "tests", "doc", "docs"],
            "in": "vendor"
        }
    ],
    "compactors": [
        "KevinGH\\Box\\Compactor\\PhpScoper"
    ],
    "git-version": "manager_version",
    "output": "contao-manager.phar"
}
