<?xml version="1.0"?>
<project name="Contao Manager" default="list" basedir=".">
    <exec executable="git" outputProperty="version" checkreturn="true">
        <arg value="describe" />
        <arg value="--tags" />
        <arg value="--always" />
    </exec>

    <target name="list">
        <echo message="Available commands:" />
        <echo message="  phing prod  -  Builds production Phar (fresh clone of current Git commit)" />
        <echo message="  phing dev   -  Builds development Phar (from current source files)" />
        <echo message="  phing debug -  Builds debug Phar (from current source files)" />
        <echo message="  phing tx    -  Syncs language files with Transifex" />
    </target>

    <target name="prod" depends="clone, composer, cache, npm, build-prod, box-prod, cleanup, version">
        <echo message="Contao Manager ${version} build complete" />
    </target>

    <target name="dev" depends="build-dev, box-dev, version">
        <echo message="Contao Manager ${version} build complete" />
    </target>

    <target name="debug" depends="build-dev, box-dev">
        <move file="contao-manager.phar" tofile="contao-manager.phar.php" overwrite="true"/>
        <delete file="contao-manager.version" />
        <echo message="Contao Manager ${version} build complete" />
    </target>

    <target name="tx">
        <echo message="Starting Transifex sync" />
        <exec executable="tx" passthru="true">
            <arg value="push" />
            <arg value="-s" />
        </exec>
        <echo message="Waiting 10 seconds for sources to be parsed" />
        <exec executable="sleep">
            <arg value="10" />
        </exec>
        <exec executable="tx" passthru="true">
            <arg value="pull" />
            <arg value="--all" />
            <arg value="--minimum-perc=50" />
        </exec>
    </target>

    <target name="clone">
        <echo message="Cloning into contao-manager-${version}" />
        <exec executable="git">
            <arg value="clone" />
            <arg value="." />
            <arg value="contao-manager-${version}" />
        </exec>
        <exec executable="git" dir="contao-manager-${version}">
            <arg value="checkout" />
            <arg value="--quiet" />
            <arg value="${version}" />
        </exec>
        <exec executable="git" dir="contao-manager-${version}">
            <arg value="reset" />
            <arg value="--hard" />
        </exec>
        <exec executable="sed" dir="contao-manager-${version}" passthru="true">
            <arg value="-i" />
            <arg value="--" />
            <arg value="s/@symfony_env@/prod/g" />
            <arg value="api/console" />
        </exec>
        <exec executable="sed" dir="contao-manager-${version}" passthru="true">
            <arg value="-i" />
            <arg value="--" />
            <arg value="s/@symfony_env@/prod/g" />
            <arg value="public/api.php" />
        </exec>
    </target>

    <target name="composer">
        <echo message="Installing API dependencies" />
        <exec escape="false" dir="contao-manager-${version}" command="curl -LSs https://getcomposer.org/installer | php" />
        <exec executable="php" dir="contao-manager-${version}" checkreturn="true">
            <arg value="composer.phar" />
            <arg value="install" />
            <arg value="--prefer-dist" />
            <arg value="--no-dev" />
            <arg value="--optimize-autoloader" />
            <arg value="--ignore-platform-reqs" />
            <arg value="--no-interaction" />
        </exec>
    </target>

    <target name="cache">
        <echo message="Building cache for the API application" />
        <exec executable="php" dir="contao-manager-${version}" checkreturn="true">
            <arg value="api/console" />
            <arg value="cache:warmup" />
        </exec>
    </target>

    <target name="npm">
        <echo message="Installing UI dependencies" />
        <exec executable="npm" dir="contao-manager-${version}" checkreturn="true">
            <arg value="install" />
            <arg value="--no-optional" />
        </exec>
    </target>

    <target name="build-prod">
        <echo message="Compiling UI files" />
        <exec executable="npm" dir="contao-manager-${version}" checkreturn="true">
            <arg value="run" />
            <arg value="build" />
        </exec>
    </target>

    <target name="build-dev">
        <echo message="Compiling UI files" />
        <exec executable="npm" passthru="true" checkreturn="true">
            <arg value="run" />
            <arg value="build" />
        </exec>
    </target>

    <target name="box-prod">
        <echo message="Creating the .phar file" />
        <exec escape="false" dir="contao-manager-${version}" command="curl -LSs https://github.com/humbug/box/releases/download/3.5.1/box.phar > box.phar" />
        <exec executable="php" dir="contao-manager-${version}" checkreturn="true">
            <arg value="box.phar" />
            <arg value="compile" />
        </exec>
    </target>

    <target name="box-dev">
        <echo message="Creating the .phar file" />
        <exec executable="box" checkreturn="true" passthru="true">
            <arg value="compile" />
        </exec>
    </target>

    <target name="cleanup">
        <move file="contao-manager-${version}/contao-manager.phar" tofile="contao-manager.phar" overwrite="true"/>
        <delete dir="contao-manager-${version}" />
    </target>

    <target name="version">
        <exec executable="php" checkreturn="true">
            <arg value="-r" />
            <arg value="file_put_contents('contao-manager.version', json_encode(['version' => '${version}', 'sha1' => sha1_file('contao-manager.phar'), 'requires' => ['php' => '^5.5.9 || ^7']]));" />
        </exec>
    </target>
</project>
