extends _content_with_header

block content
  ul#errors(ng-repeat="error in errors")
    li {{error}}
  ul#warnings(ng-repeat="warning in warnings")
    li {{warning}}
  pre#editor(tenside-editor, load="loadFile()", push="pushFile(content)", type="{{type}}", errors="errors", warnings="warnings")
