h1
  | Packages

.packages-list
  ul.list-group
    li.list-group-item
      .row.package
        .col-md-10
          strong
            a(href="#package?name=isotope/core") Isotope eCommerce
          small  [isotope/core]
          span.pull-right.label.label-success 2.0.2 <span class="fa fa-level-up"></span> 2.2.0
        .col-md-2.text-right
          .actions
            .btn-group(role="group")
              button.btn.btn-primary.btn-xs(type="button", title="Upgrade package")
                span.fa.fa-check-square-o
                span.sr-only Upgrade package
              button.btn.btn-warning.btn-xs(type="button", title="Unlock package version")
                span.fa.fa-lock
                span.sr-only Unlock package version
              button.btn.btn-danger.btn-xs(type="button", title="Remove package")
                span.fa.fa-trash-o
                span.sr-only Remove package
    li.list-group-item
      .row.package
        .col-md-10
          strong
            a(href="#package?name=isotope/core") Isotope eCommerce
          small  [isotope/core]
          span.pull-right.label.label-info 2.0.2
        .col-md-2.text-right
          .actions
            .btn-group(role="group")
              button.btn.btn-primary.btn-xs(type="button", title="Upgrade package")
                span.fa.fa-check-square-o
                span.sr-only Upgrade package
              button.btn.btn-warning.btn-xs(type="button", title="Unlock package version")
                span.fa.fa-lock
                span.sr-only Unlock package version
              button.btn.btn-danger.btn-xs(type="button", title="Remove package")
                span.fa.fa-trash-o
                span.sr-only Remove package
    li.list-group-item
      .row.package
        .col-md-10
          strong
            a(href="#package?name=isotope/core") Isotope eCommerce
          small  [isotope/core]
          span.pull-right.label.label-danger 2.2.0-beta2
        .col-md-2.text-right
          .actions
            .btn-group(role="group")
              button.btn.btn-primary.btn-xs(type="button", title="Upgrade package")
                span.fa.fa-check-square-o
                span.sr-only Upgrade package
              button.btn.btn-info.btn-xs(type="button", title="Lock package version")
                span.fa.fa-unlock
                span.sr-only Lock package version
              button.btn.btn-danger.btn-xs(type="button", title="Remove package")
                span.fa.fa-trash-o
                span.sr-only Remove package
    li.list-group-item
      .row.package
        .col-md-10
          strong
            a(href="#package?name=isotope/core") Isotope eCommerce
          small  [isotope/core]
          span.pull-right.label.label-default dev-develop
        .col-md-2.text-right
          .actions
            .btn-group(role="group")
              button.btn.btn-primary.btn-xs(type="button", title="Upgrade package")
                span.fa.fa-check-square-o
                span.sr-only Upgrade package
              button.btn.btn-warning.btn-xs(type="button", title="Unlock package version")
                span.fa.fa-lock
                span.sr-only Unlock package version
              button.btn.btn-danger.btn-xs(type="button", title="Remove package")
                span.fa.fa-trash-o
                span.sr-only Remove package
