.col-lg-2
  i.icon.fa(package-type="package.type")
.col-lg-6
  .name {{package.name}}
  .description {{package.description}}
    a(href="#/package/{{ package.name }}")  {{ 'link_more' | translate }}
  .license
    span.info-label(ng-repeat="license in package.license")
      i.fa.fa-legal
      | {{license}}
    span.info-label(ng-if="package.favers")
      i.fa.fa-thumbs-up
      |  {{ 'tenside_package_list_entry.favers' | translate:{favers: package.favers} }}
    span.info-label(ng-if="package.downloads")
      i.fa.fa-download
      |  {{'tenside_package_list_entry.downloads' | translate:{downloads: package.downloads} }}
.col-lg-2
  .constraint
    span.label(version-class="package.version") {{package.version}}
  .date {{package.time | date: 'short' }}
.col-lg-2
  button.btn.btn-default.btn-lg(type="button", ng-if="canDisable(package)", ng-click="disable(package)")
    span.fa.fa-fw.fa-power-off
    span {{ 'tenside_package_list_entry.btn_disable' | translate }}
  button.btn.btn-default.btn-lg(type="button", ng-if="canEnable(package)", ng-click="enable(package)")
    span.fa.fa-fw.fa-power-off
    span {{'tenside_package_list_entry.btn_enable'| translate }}
  button.btn.btn-default.btn-lg(type="button", ng-if="canUpgrade(package)")
    span.fa.fa-fw.fa-arrow-circle-up
    span {{'tenside_package_list_entry.btn_upgrade'| translate }}
  button.btn.btn-danger.btn-lg(type="button", ng-if="canRemove(package)", ng-click="remove(package)")
    span.fa.fa-fw.fa-trash-o
    span {{'tenside_package_list_entry.btn_remove'| translate }}
  button.btn.btn-success(ng-if="canInstall(package)", ng-click="install(package)")
    span.fa.fa-fw.fa-plus-circle
    span {{'tenside_package_list_entry.btn_install'| translate }}
