extends _content_with_header

block content
  .sort-selection
    a.sortorder(href="", ng-click="order('name')", ng-class="{'active':(sort === 'name'), 'reverse':reverse}")
      | {{ 'search.sort.name' | translate }}
    a.sortorder(href="", ng-click="order('time')", ng-class="{'active':(sort === 'time'), 'reverse':reverse}")
      | {{ 'search.sort.release_date' | translate }}
  package-list-entry.row.package(ng-repeat="package in packages| orderBy:sort:reverse")
