extends _content_with_header

block content
  h1
    | Package {{package.name}} details.
  button.btn.btn-primary.btn-md(type="button", title="Update", ng-click="upgrade")
    span.fa.fa-fw.fa-arrow-circle-up
    span Upgrade
  .packages-list
    ul.list-group
      li.list-group-item(ng-repeat="pack in packages")
        .row.package
          .col-md-1
            img.img-responsive(ng-src="{{typeImage(pack.type)}}")
          .col-md-7
            strong
              a(href="#packages/{{pack.name}}") {{pack.description}}
            small  [{{pack.name}}]
          .col-md-2
            span.label(ng-class="versionToClass(pack.version)") {{pack.version}}
            | &nbsp;
            span.label(ng-class="versionToClass(pack.upgrade_version)", ng-if="!pack.locked && pack.upgrade_version")
              span.fa.fa-arrow-circle-up
              | {{pack.upgrade_version}}
          .col-md-2.text-right
            .actions
              .btn-group(role="group")
                button.btn.btn-primary.btn-md(type="button", title="Upgrade package", ng-if="!pack.locked && (pack.version!=pack.upgrade_version)", ng-click="upgrade(pack)")
                  span.fa.fa-fw.fa-arrow-circle-up
                  span.sr-only Upgrade package
                button.btn.btn-info.btn-md(type="button", title="Lock package version", ng-if="!pack.locked", ng-click="lock(pack)")
                  span.fa.fa-fw.fa-unlock
                  span.sr-only Lock package version
                button.btn.btn-warning.btn-md(type="button", title="Unlock package version", ng-if="pack.locked", ng-click="unlock(pack)")
                  span.fa.fa-fw.fa-lock
                  span.sr-only Unlock package version
                button.btn.btn-danger.btn-md(type="button", title="Remove package", ng-if="!pack.locked && pack.constraint", ng-click="remove(pack)")
                  span.fa.fa-fw.fa-trash-o
                  span.sr-only Remove package
  button.btn.btn-primary.btn-md(type="button", title="Update", ng-click="upgrade")
    span.fa.fa-fw.fa-arrow-circle-up
    span Upgrade
