h1
  | Search

.search-result
  .well.well-xs(ng-repeat="package in packages")
    .row.package
      .col-md-1
        img.img-responsive(ng-src="{{typeImage(package.type)}}" title="{{package.type}}")
      .col-md-11
        h2
          a(href="#package?name={{package.name}}") {{package.name}}
          span.fa.fa-check-square(ng-show="package.installed")
          span.pull-right.label.label-success
            span.fa.fa-thumbs-up {{package.favers}}
          span.pull-right.label.label-default
            span.fa.fa-download {{package.downloads}}
        p.description {{package.description}}
