h1
  | Search

.search-result
  .well.well-xs
    .row.package
      .col-md-12
        h2
          a(href="#package?name=isotope/core") Isotope eCommerce
          small  [isotope/core]
          span.pull-right.label.label-success 2.0.2
        p.description
          | Isotope eCommerce ist eine eCommerce-Lösung für das Contao CMS.
          | Weil jeder Webshop einzigartig ist, wurde Isotope mit Prioriät auf Flexibilität gebaut,
          | so dass du alles auf deine individuellen Wünsche anpassen kannst.
  .well.well-xs
    .row.package
      .col-md-12
        h2
          a(href="#package?name=isotope/core") Isotope eCommerce
          small  [isotope/core]
          span.pull-right.label.label-danger 2.2.0-beta2
        p.description
          | Isotope eCommerce ist eine eCommerce-Lösung für das Contao CMS.
          | Weil jeder Webshop einzigartig ist, wurde Isotope mit Prioriät auf Flexibilität gebaut,
          | so dass du alles auf deine individuellen Wünsche anpassen kannst.
  .well.well-xs
    .row.package
      .col-md-12
        h2
          a(href="#package?name=isotope/core") Isotope eCommerce
          small  [isotope/core]
          span.pull-right.label.label-default dev-develop
        p.description
          | Isotope eCommerce ist eine eCommerce-Lösung für das Contao CMS.
          | Weil jeder Webshop einzigartig ist, wurde Isotope mit Prioriät auf Flexibilität gebaut,
          | so dass du alles auf deine individuellen Wünsche anpassen kannst.
