extends _content_with_header

block content
  .sort-selection
    .sort-best-matched Best Matched
    .sort-name Name
    .sort-last-updated Last Updated
  .type-selection
    input(type="radio" ng-model="color.name" value="red")
  .search-result
    package-list-entry.row.package(ng-repeat="package in packages")
