form.navbar-form.navbar-right(role="search", ng-controller="TensideSearchController as search")
  .form-group
    input.form-control(type="text", placeholder="Search packages", ng-model="search.term")
  button.btn.btn-default(type="submit") Search
