.tenside-search {
  //background-color: $search-bg;
  color: $search-color;
  padding-top: 30px;
  padding-bottom: 30px;

  .spacer {
    margin: 0 10%;
  }

  .form-group {
    margin-bottom: 0;
  }

  .btn-search {
    cursor: pointer;
    color: #666;
    transition: color 0.25s ease;

    &.disabled {
      cursor: default;
      color: #dedede;
      transition: color 0.25s ease;
    }
  }
}

.search-result {
  .package {
    padding: 10px;

    h2 {
      margin-top: 0;
      font-size: 14px;
    }
    p.description {
      margin-bottom: 0;
    }

    &:nth-child(odd) {
      background: $gray-lighter;
    }
  }

  .package__meta {
     border-top: none;
   }

  .package__icon {
    font-size: 20px;
    padding: 0 10px 0 0;
  }
}
