.tenside-search {
  padding-top: 30px;
  padding-bottom: 30px;

  .spacer {
    margin: 0 10%;
  }

  .form-group {
    margin-bottom: 0;
  }

  .btn-search {
    cursor: pointer;
    color: #666;
    transition: color 0.25s ease;

    &.disabled {
      cursor: default;
      color: #dedede;
      transition: color 0.25s ease;
    }
  }
}

#app-content.search {
  .body {
    a {
      color: $text-color;
    }
  }
  .sort-selection {
    text-align: right;
    padding: 20px 0;

    a.sortorder {
      display: inline-block;
      padding: 0 20px;

      &:hover, &:active, &:focus {
        text-decoration: none;
      }

      &.active {
        color: $link-color;
        border-bottom: 1px solid $link-color;
        background-color: $selected-option-bg;
      }

      &.active:after {
        content: '\25b2';
      }
      &.active.reverse:after {
        content: '\25bc';
      }
    }
  }
  .heading {
    border: 1px solid $head-color;
    border-left: 0;
    border-right: 0;
    padding: 5px 0;
    margin-bottom: 50px;
    .type-selection {
      .search-in {
        font-weight: 700;
      }
      div {
        display: inline-block;
        padding: 10px;
        margin-top: 0;
        margin-bottom: 0;
        &.active {
          color: $link-color;
          background-color: $selected-option-bg;
        }
      }
    }
    .lnk-close {
      display: inline-block;
      padding: 0 10px;
      margin: 10px 0;
    }
  }
}
