@import "defaults";

#task-popup {
    position: absolute;
    display: none;
    top:50%;
    left:50%;
    width: 100%;
    max-width:750px;
    height: 310px;
    margin-left:-315px;
    margin-top: -155px;
    text-align: center;
    background: #ffffff;
    border-bottom: 2px solid #ddd3bc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index: 10;

    &.console {
        height:630px;
        margin-top:-325px;
    }

    h1 {
        background: $green-button;
        color: #fff;
        font-weight: normal;
        line-height: 40px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

    h2, p {
        margin: 0 70px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    button {
        height: 35px;
        margin: 2em 0;
        padding: 0 30px;
    }

    a {
        display: block;
        text-align: left;
        margin: 0 70px;

        svg {
            position: relative;
            top: -1px;
            width: 10px;
            height: 5px;
            margin-right: 2px;
            fill: $link-color;
        }

        &.hide {
            display: none;
        }
    }

    &.console a {
        display: none;

        &.hide {
            display: block;
        }
    }

    code {
        display: none;
    }

    &.console code {
        display: block;
        overflow: scroll;
        height: 300px;
        margin: 15px 70px;
        padding: 6px;
        background: #181818;
        font-size: 12px;
        color: #00ff00;
        white-space: pre;
        text-align: left;
    }

    .loading {
        overflow: hidden;
        margin: 45px auto 20px;
        width: 85px;
        text-align: center;

        > div {
            float: left;
            width: 16px;
            height: 16px;
            margin-right: 1px;
            background-color: $green-button;
            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        }

        .bounce1 {
            -webkit-animation-delay: -0.64s;
            animation-delay: -0.64s;
        }

        .bounce2 {
            -webkit-animation-delay: -0.48s;
            animation-delay: -0.48s;
        }

        .bounce3 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        .bounce4 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }

        @-webkit-keyframes sk-bouncedelay {
            0%, 90%, 100% { opacity: 0 }
            20% { opacity: 1 }
        }

        @keyframes sk-bouncedelay {
            0%, 90%, 100% { opacity: 0; }
            20% { opacity: 1; }
        }
    }
}

.blur-in {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    -webkit-animation: blur .5s forwards;
    -moz-animation: blur .5s forwards;
    -o-animation: blur .5s forwards;
    animation: blur .5s forwards;
}

.blur-out {
    -webkit-animation: blur-out .5s forwards;
    -moz-animation: blur-out .5s forwards;
    -o-animation: blur-out .5s forwards;
    animation: blur-out .5s forwards;
}

@-webkit-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-moz-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-o-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-webkit-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-moz-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-o-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}
