@import "defaults";

#task-popup {
    position: absolute;
    top:50%;
    left:50%;
    width: 100%;
    max-width:750px;
    height: 310px;
    margin-left:-315px;
    margin-top: -155px;
    text-align: center;
    background: #ffffff;
    border-bottom: 2px solid #ddd3bc;
    border-radius: 2px;
    z-index: 10;
    opacity: 1;
    transition: opacity .5s linear;

    &.fixed {
        position: fixed;
    }

    &.console,
    &.status-error {
        height:630px;
        margin-top:-325px;
    }

    h1 {
        background: $green-button;
        color: #fff;
        font-weight: normal;
        line-height: 40px;
        border-radius: 2px;
    }

    h2, p {
        margin: 0 70px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    button {
        width: auto;
        height: 35px;
        margin: 2em 0;
        padding: 0 30px;
    }

    a {
        display: block;
        text-align: left;
        margin: 0 70px;

        i {
            position: relative;
            top: -1px;
            margin-right: 2px;
            margin-left: 0;
            color: $link-color;
            transform: rotate(90deg) scale(0.5);
        }

        &.hide {
            display: none;

            i {
                transform: rotate(-90deg) scale(0.5);
            }
        }
    }

    &.console a {
        display: none;

        &.hide {
            display: block;
        }
    }

    &.status-error a {
        visibility: hidden;
    }

    code {
        display: none;
    }

    &.console code,
    &.status-error code {
        display: block;
        overflow: scroll;
        height: 300px;
        margin: 15px 70px;
        padding: 6px;
        background: #181818;
        font-size: 12px;
        color: #00ff00;
        white-space: pre;
        text-align: left;
    }

    .status {
        display: none;

        &.success,
        &.error {
            margin: 27px auto 20px;
            transform: scale(1.5);
        }

        &.success i {
            color: $green-button;
        }

        &.error i {
            color: $red-button;
        }

        &.loading {
            overflow: hidden;
            width: 85px;
            margin: 45px auto 20px;
            text-align: center;

            > div {
                float: left;
                width: 16px;
                height: 16px;
                margin-right: 1px;
                background-color: $green-button;
                animation: loading 1.4s infinite ease-in-out both;
            }

            .bounce1 {
                animation-delay: -0.64s;
            }

            .bounce2 {
                animation-delay: -0.48s;
            }

            .bounce3 {
                animation-delay: -0.32s;
            }

            .bounce4 {
                animation-delay: -0.16s;
            }

            @keyframes loading {
                0%, 90%, 100% { opacity: 0; }
                20% { opacity: 1; }
            }
        }
    }

    &.status-success .success {
        display: block;
    }

    &.status-error {
        h1 {
            background-color: $red-button;
        }

        .error {
            display: block;
        }
    }

    &.status-loading .loading {
        display: block;
    }

    &.hidden {
        top: -999em;
        left: -999em;
        opacity: 0;
        transition: top 0s .5s, left 0s .5s, opacity .5s linear;
    }
}

.blur-in {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    animation: blur .5s forwards;
}

.blur-out {
    animation: blur-out .5s forwards;
}

@keyframes blur {
    0% {
        filter: blur(0px);
    }
    100% {
        filter: blur(4px);
    }
}

@keyframes blur-out {
    0% {
        filter: blur(4px);
    }
    100% {
        filter: blur(0px);
    }
}
