

$font-default: LatoLatinWeb, Arial, sans-serif;
$font-regular: LatoLatinWebRegular, Arial, sans-serif;
$font-hairline: LatoLatinWebHairline, Arial, sans-serif;

$text-color: #737373;
$link-color: #bd2e20;
$border-color: #cccccc;
$footer-link: #2a7887;
$contao-color: #ea7422;

$green-button: #31a64b;
$red-button: #db5041;
$orange-button: #db8c41;


@mixin screen($width) {
    @media (min-width: #{$width}px) {
        @content;
    }
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin prefix($property, $value, $ms:true, $opera:true) {
    -webkit-#{$property}: $value;
       -moz-#{$property}: $value;
    @if $opera {
         -o-#{$property}: $value;
    }
    @if $ms {
        -ms-#{$property}: $value;
    }
            #{$property}: $value;
}

@mixin border-radius($value) {
    @include prefix(border-radius, $value, false, false);
}