@import "defaults";

.search {
    position: relative;
    max-width: 964px;
    margin: 0 auto 50px;

    input {
        margin-bottom: 10px;
    }

    button {
        height: 38px;
        border: 1px solid $border-color;
    }

    @include screen(1024) {
        padding-right: 212px;

        input[type=text] {
            float: right;
            width: 540px;
        }

        button {
            width: 200px;
        }
    }
}

.type {
    margin-bottom: 30px;
    padding: 15px 20px 14px 0;
    font-size: 16px;
    border-top: 1px solid #ccbfa2;
    border-bottom: 1px solid #ccbfa2;

    .close {
        float: right;
        color: $text-color;

        i {
            position: relative;
            top: -1px;
            right: -6px;
            margin: 0;
            color: $text-color;
            @include prefix(transform, rotate(45deg) scale(0.75));
        }

        svg {
            width: 11px;
            height: 11px;
            margin-right: 2px;
            fill: $text-color;
        }
    }

    legend {
        float: left;
        font-weight: bold;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        margin-left: 30px;
    }

    input[type=radio]:checked + label {
        color: #2a7887;
    }
}

.sorting {
    padding-right: 35px;
    text-align: right;

    li {
        display: inline-block;
    }

    a {
        display: block;
        padding: 0 15px;
        font-family: $font-regular;
        color: $text-color;
        line-height: 28px;

        &.active,
        &.asc,
        &.desc {
            background: #f0ede4;
            border-bottom: 2px solid #2a7887;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.package {
    margin-bottom: 14px;
    background: #fff;
    border-bottom: 3px solid #ddd3bc;
    @include border-radius(2px);

    .inside {
        overflow: hidden;
        padding: 25px 20px;
    }

    .warning {
        padding: 0 20px;
        font: 12px/1.8 $font-regular;
        text-align: center;
        background: #e8c8bc;
        border-radius: 2px 2px 0 0;

        p {
            display: inline-block;
            padding: 8px 0;
        }

        a {
            display: inline-block;

            &:before {
                padding: 0 10px;
                content: "|"
            }

            &.close:before,
            &.first:before {
                content: "";
            }
        }

        > svg {
            position: relative;
            top: 6px;
            width: 26px;
            height: 23px;
            margin-right: 5px;
            fill: $link-color;
        }

        .close {
            float: right;
            padding: 8px 0;

            svg {
                width: 8px;
                height: 8px;
                margin-right: 2px;
                fill: $link-color;
            }
        }
    }

    figure {
        display: none;

        @include screen(1024) {
            display: block;
            float: left;
            width: 110px;
            margin-right: 20px;
        }
    }

    .about {
        margin-bottom: 20px;

        @include screen(1024) {
            float: left;
            width: 390px;
        }

        @include screen(1180) {
            width: 610px;
        }

        .description {
            margin-bottom: 1em;

            @include screen(1024) {
                min-height: 2.8em;
            }
        }
    }

    .release {
        float: left;
        width: 33%;

        @include screen(1024) {
            width: 160px;
            margin-left: 40px;
            margin-bottom: 25px;
        }

        input[type=text] {
            float: left;
            width: calc(100% - 32px);
            max-width: 128px;
            height: 30px;
            margin-right: 2px;
            background: $orange-button;
            border: none;
            color: #fff;
            -webkit-text-fill-color: #fff;
            font-weight: bold;
            text-align: center;
        }

        button {
            width: 30px;
            height: 30px;
            padding: 6px;
            background: $orange-button;

            svg {
                fill: #fff;
            }
        }

        time {
            display: none;

            @include screen(1200) {
                display: block;
                margin-top: 25px;
                text-align: center;
            }
        }
    }

    .actions {
        float: right;
        width: 66%;
        max-width: 500px;
        padding-left: 40px;
        text-align: right;

        @include screen(1024) {
            width: 160px;
            margin-left: 40px;
            padding-left: 0;
        }

        button {
            display: inline-block;
            width: 45%;

            @include screen(1024) {
                width: 100%;
                margin-bottom: 10px;
            }

            &.enable,
            &.disable {
                margin-right: 5%;

                svg {
                    position: relative;
                    top: 1px;
                    width: 14px;
                    height: 15px;
                    margin-right:3px;
                    fill: #fff;
                }
            }

            &.enable,
            &.install {
                background: $green-button;
            }

            &.uninstall {
                background: $red-button;

                svg {
                    position: relative;
                    top: 2px;
                    width: 13px;
                    height: 15px;
                    margin-right:2px;
                    fill: #fff;
                }
            }
        }
    }
}

#package-actions {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    background: #000;
    background: rgba(0,0,0, 0.8);
    color: #fff;
    @include prefix(transition, height .4s ease, false);

    &.active {
        height: 80px;
    }

    .inner {
        max-width: 1180px;
        margin: 0 auto;
        padding: 20px 0;
        text-align: right;
    }

    p {
        display: inline;
        font-weight: bold;
    }

    button {
        width: auto;
        margin-left: 15px;
        padding: 0 15px;

        &.apply {
            background: $green-button;
        }

        &.reset {
            background: $red-button;
        }
    }
}