@import "defaults";

section.package-actions {
    position: relative;
    margin-bottom: 50px;
    text-align: center;

    button {
        height: 38px;
        border: 1px solid $border-color;
    }

    button.cancel {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 38px;
        margin: 0;
        color: $text-color;
        border: none;
        background: none;
    }

    input[type=text] {
        display: none;
        margin-bottom: 10px;
        padding-right: 40px;
    }

    &.search-active {
        input[type=text] {
            display: block;
        }

        button.cancel {
            display: block;
        }
    }

    @include screen(1024) {

        button {
            width: 200px;
            margin: 0 15px;
        }

        input[type=text] {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
        }
    }
}

.package {
    margin-bottom: 14px;
    background: #fff;
    border-bottom: 3px solid #ddd3bc;
    border-radius: 2px;

    .inside {
        overflow: hidden;
        padding: 25px 20px;
    }

    .hint.warning {
        padding: 0 20px;
        font: 12px/1.8 $font-regular;
        background: #e8c8bc;
        border-radius: 2px 2px 0 0;

        p {
            display: inline-block;
            padding: 8px 0;
        }

        a {
            display: inline-block;

            &:before {
                padding: 0 10px;
                content: "|"
            }

            &.close:before,
            &.first:before {
                content: "";
            }
        }

        > svg {
            position: relative;
            top: 6px;
            width: 26px;
            height: 23px;
            margin-right: 10px;
            fill: $link-color;
        }

        .close {
            float: right;
            padding: 8px 0;

            svg {
                width: 8px;
                height: 8px;
                margin-right: 5px;
                fill: $link-color;
            }
        }
    }

    figure {
        display: none;

        @include screen(1024) {
            display: block;
            float: left;
            width: 110px;
            margin-right: 20px;
        }
    }

    .about {
        margin-bottom: 20px;

        @include screen(1024) {
            float: left;
            width: 390px;
        }

        @include screen(1180) {
            width: 610px;
        }

        .abandoned {
            position: relative;
            top: -3px;
            margin-left: 10px;
            padding: 2px 8px;
            background: $red-button;
            border-radius: 2px;
            font-size: 12px;
            color: #fff;
        }

        .description {
            margin-bottom: 1em;

            @include screen(1024) {
                min-height: 2.8em;
            }
        }
    }

    .release {
        float: left;
        width: 33%;

        @include screen(1024) {
            width: 160px;
            margin-left: 40px;
        }

        input[type=text] {
            float: left;
            width: calc(100% - 32px);
            max-width: 128px;
            height: 30px;
            margin-right: 2px;
            background: #fff;
            border: 2px solid $orange-button;
            color: #000;
            font-weight: bold;
            text-align: center;

            //noinspection CssInvalidPseudoSelector
            &::placeholder {
                color: #fff;
            }

            &:disabled {
                color: #fff;
                background: $orange-button;
                -webkit-text-fill-color: #fff;
            }
        }

        button {
            width: 30px;
            height: 30px;
            padding: 6px;
            background: $orange-button;

            svg {
                fill: #fff;
            }
        }

        &.validating button svg {
            animation: validating-release 2s linear infinite;
        }

        .version {
            display: none;

            @include screen(1024) {
                display: block;
                margin-top: 25px;
                text-align: center;
            }

            time {
                display: block;
            }
        }
    }

    .actions {
        float: right;
        width: 66%;
        max-width: 500px;
        padding-left: 40px;
        text-align: right;

        @include screen(1024) {
            width: 160px;
            margin-left: 40px;
            padding-left: 0;
        }

        button {
            display: inline-block;
            width: 45%;

            @include screen(1024) {
                width: 100%;
                margin-bottom: 10px;
            }

            &.enable,
            &.disable {
                margin-right: 5%;

                svg {
                    position: relative;
                    top: 1px;
                    width: 14px;
                    height: 15px;
                    margin-right:3px;
                    fill: #fff;
                }
            }

            &.enable,
            &.install {
                background: $green-button;
            }

            &.uninstall {
                background: $red-button;

                svg {
                    position: relative;
                    top: 2px;
                    width: 13px;
                    height: 15px;
                    margin-right:2px;
                    fill: #fff;
                }
            }
        }
    }
}

#package-actions {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    background: #000;
    background: rgba(0,0,0, 0.8);
    color: #fff;
    transition: height .4s ease;

    &.active {
        height: 80px;
    }

    .inner {
        max-width: 1180px;
        margin: 0 auto;
        padding: 20px 0;
        text-align: right;
    }

    p {
        display: inline;
        font-weight: bold;
    }

    button {
        width: auto;
        margin-left: 15px;
        padding: 0 15px;

        &.apply {
            background: $green-button;
        }

        &.reset {
            background: $red-button;
        }
    }
}

@keyframes validating-release {
    100% {
        transform: rotate(360deg);
    }
}
