imports:
    - { resource: services.yml }

# The secret is only required to sign fragment URLs which is not used
framework:
    secret: ''
    default_locale: en

security:
    providers:
        contao_manager_user_provider:
            id: contao_manager.security.user_provider

    encoders:
        Symfony\Component\Security\Core\User\UserInterface: auto

    firewalls:
        api:
            stateless: true
            guard:
                authenticators:
                    - Contao\ManagerApi\Security\JwtAuthenticator
                    - Contao\ManagerApi\Security\TokenAuthenticator
                entry_point: Contao\ManagerApi\Security\JwtAuthenticator
            anonymous: ~

    access_control:
        - { path: ^/api/session$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }
