<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Contao Package Manager{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{ absolute_url(asset('styles.css')) }}">
</head>

{% block body %}

{% endblock %}


</html>
