<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Contao Package Manager{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{ path('asset', {'path': 'css/global.css'}) }}">
    <script type="application/javascript" src="{{ path('asset', {'path': 'js/global.js'}) }}"></script>
</head>

{% block body %}

<body{% block body_attributes %}{% endblock %}>
{% block body_inner %}

{% endblock %}

{% block pre_body_end_scripts %}{% endblock %}

</body>
{% endblock %}


</html>
