<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Contao Package Manager{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{ path('asset', {'path': 'css/bundle.css'}) }}">
</head>

{% block body %}

<body{% block body_attributes %}{% endblock %}>

{% block body_inner %}

{% endblock %}

<div id="taskpopup_component"></div>

{% block pre_body_end_scripts %}
    <script type="application/javascript" src="{{ path('asset', {'path': 'js/bundle.js'}) }}"></script>
{% endblock %}
</body>
{% endblock %}


</html>
