{%  extends 'AppBundle::base.html.twig' %}

{% block body_attributes %} class="wide"{% endblock %}

{% block body_inner %}
<div class="table">
    <div class="cell">
        <main>
            {% block header %}

            {% endblock %}

            {% block frontend_body %}

            {% endblock %}

            {% block footer %}
                <footer>
                    © 2016 <a href="http://association.contao.org/" target="_blank">Contao Association</a>
                    <a href="https://github.com/contao/package-manager/issues" class="support">{% trans %}Support{% endtrans %}</a>
                </footer>
            {% endblock %}

        </main>
    </div>
</div>
{% endblock %}
