{%  extends 'AppBundle::frontend.html.twig' %}

{% block header %}

<header>
    <img src="{{ path('asset', {'path': 'images/logo.svg'}) }}" width="100" height="100" alt="Contao Logo">
    <strong><span>Welcome</span> to Contao Manager v1.0</strong>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
</header>

{% endblock %}


{% block frontend_body %}

    <section>
        <div id="install_component"></div>
    </section>

{% endblock %}

{% block pre_body_end_scripts %}
<script type="application/javascript" src="{{ path('asset', {'path': 'js/install.js'}) }}"></script>
{% endblock %}
