{%  extends 'AppBundle::frontend.html.twig' %}

{% block header %}

<header>
    <img src="{{ path('asset', {'path': 'images/logo.svg'}) }}" width="100" height="100" alt="Contao Logo">
    <strong><span>Welcome</span> to Contao Manager v1.0</strong>
</header>

{% endblock %}

{% block frontend_body %}

<section class="login">
    <h1>Sign In</h1>
    <p>Login to manage your installation.</p>

    <form action="#" method="post">
        <div class="widget">
            <label for="ctrl_username">Username</label>
            <input type="text" id="ctrl_username" placeholder="Username">
        </div>

        <div class="widget">
            <label for="ctrl_password">Password</label>
            <input type="password" id="ctrl_password" placeholder="Password">
        </div>

        <a href="">Forgot your password?</a>

        <button type="submit">Sign In</button>
    </form>
</section>

{% endblock %}
