extends _layout

block content
  .row
    .col-md-3
      ul.nav.nav-pills.nav-stacked(role="tablist")
        li(role="presentation", ngClass="{active: isActive('/packages')}")
          a(href="#packages")
            i.fa.fa-archive  Packages
        li(role="presentation", ngClass="{active: isActive('/search')}")
          a(href="#search")
            i.fa.fa-search  Search
        li(role="presentation", ngClass="{active: isActive('/editor')}")
          a(href="#editor")
            i.fa.fa-file-code-o  composer.json
        li(role="presentation", ngClass="{active: isActive('/config')}")
          a(href="#config")
            i.fa.fa-gears  Config

    #main.col-md-9
        div(ng-view)