extends _layout

block content
  .row
    .col-md-3
      ul.nav.nav-pills.nav-stacked(role="tablist")
        li.active(role="presentation")
          a(href="#packages") Packages
        li(role="presentation")
          a(href="#search") Search
        li(role="presentation")
          a(href="#editor") composer.json
        li(role="presentation")
          a(href="#config") Config

    #main.col-md-9
        div(ng-view)