doctype html
html(lang="en", ng-app="tenside-install")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title= "Tenside installer"
        each stylesheet in stylesheets
            link(rel="stylesheet", href=stylesheet)
        <!--[if lt IE 9]>
        script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
        script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
        <![endif]-->
    header
        .container
            h1 Tenside installer.
    body
        .body
            .container
                #main
                    div(ng-controller="TensideInstallController")
                        ul.nav.nav-pills
                            li(ng-class="{'active':wizard.isCurrentStep('welcome')}")
                                a.btn(href="", ng-click="wizard.setCurrentStep('welcome')")
                                    span.badge 1
                                    |  Welcome
                            li(ng-class="{'active':wizard.isCurrentStep('user-data')}")
                                a.btn(href="", ng-click="wizard.setCurrentStep('user-data')")
                                    span.badge 2
                                    |  Security
                            li(ng-class="{'active':wizard.isCurrentStep('base-project')}" )
                                a.btn(href="", ng-click="wizard.setCurrentStep('base-project')")
                                    span.badge 3
                                    |  Base project
                            li(ng-class="{'active':wizard.isCurrentStep('summary')}")
                                a.btn(href="", ng-click="wizard.setCurrentStep('summary')")
                                    span.badge 4
                                    |  Install
                        form(role="form" ng-submit="" novalidate)
                            .slide-frame(ng-switch="wizard.getCurrentStep()")
                                .slide(ng-switch-when="welcome")
                                    h2 Welcome to tenside.
                                    p We have detected that you have no installation at this instance yet. We will now ask you a few simple questions and create a web project now.
                                .slide(ng-switch-when="user-data")
                                    h2 Create admin user.
                                    p.text-info
                                        i.fa.fa-info.fa-2x.pull-left
                                        | Please specify the credentials you want to use to authenticate against this instance.
                                        | You can add more users and API tokens later but you definitely want to have at least one admin user.
                                    .form-group
                                        label.control-label(for="username") Username:
                                        input#username.form-control(type="text", name="username", ng-model="install.credentials.username")
                                    .form-group
                                        label.control-label(for="password") Password:
                                        input#password.form-control(type="password", name="password", ng-model="install.credentials.password")
                                    h2 Encryption key
                                    p.text-info
                                        i.fa.fa-info.fa-2x.pull-left
                                        | Please specify the secret to be used for encrypting tokens.
                                        | This can not be changed later on and should be unique per installation.
                                    .form-group
                                        label.control-label(for="secret") Installation secret:
                                        input#secret.form-control(type="text", name="secret", ng-model="install.credentials.secret")
                                .slide(ng-switch-when="base-project")
                                    h2 Base project.
                                    p.text-info
                                        i.fa.fa-info.fa-2x.pull-left
                                        | Select the project you want to base this installation on (See composer create-project).
                                    .form-group
                                        label.control-label(for="project") Base project
                                        select#project.form-control(name="project", type="text", ng-model="install.project.name", ng-options="name as name for (name, versions) in projects")
                                            option(style="display:none" value="") Select a base project
                                    .form-group
                                        label.control-label(for="version") Version:
                                        select#version.form-control(name="version", type="text", ng-model="install.project.version", ng-options="name as name for (name, versions) in projects[install.project.name]")
                                            option(style="display:none" value="") Select a version
                                .slide(ng-switch-when="summary")
                                    h2 All things set. Prepare to install.
                                    p We have now gathered enough information to install.
                                    p Please revise the information below and ensure everything is correct.
                                    ul
                                        li Create admin user:
                                            a(href="", ng-click="wizard.setCurrentStep('user-data')") {{install.credentials.username}}
                                        li Encryption passphrase:
                                            a(href="", ng-click="wizard.setCurrentStep('user-data')") {{install.credentials.secret}}
                                        li Install project:
                                            a(href="", ng-click="wizard.setCurrentStep('base-project')") {{install.project.name}}@{{install.project.version}}
                        .form-group
                            .pull-right
                                a.btn.btn-default(ng-click="wizard.handlePrevious()" ng-show="!wizard.isFirstStep()") Back
                                a.btn.btn-primary(ng-click="wizard.handleNext()") {{wizard.getNextLabel()}}

        script.
            var TENSIDEApi = #{app.tensideApi};
        each javascript in javascripts
            script(src=javascript)
