@import "defaults";

.table {
    display: table;
    width: 100%;
    height: 100%;

    .cell {
        display: table-cell;
        vertical-align: middle;
    }

    p {
        margin: .5em 0 1em;
    }

    main {
        position: relative;
        max-width: 380px;
        margin: 20px auto;
        background: #fff;

        &:after {
            content: "";
            display: table;
            clear: both
        }

        &:before {
            position: absolute;
            display: block;
            width: 100px;
            top: 40px;
            bottom: 60px;
            left: -100px;
            content: "";
            box-shadow: 15px 0 60px 25px #ebe6db inset, -5px 0 10px -4px rgba(0, 0, 0, .8) inset;
        }

        &:after {
            position: absolute;
            display: block;
            width: 100px;
            top: 40px;
            bottom: 60px;
            right: -100px;
            content: "";
            box-shadow: -15px 0 60px 25px #ebe6db inset, 5px 0 10px -4px rgba(0, 0, 0, .8) inset;
        }
    }

    header {
        margin-bottom: 80px;
        text-align: center;

        img {
            margin-top: 40px;
        }

        .welcome {
            margin-top: 15px;
            margin-bottom: 40px;
            font-weight: bold;
            font-style: italic;

            strong {
                display: block;
                font: 60px $font-hairline;
                font-weight: normal;
                font-style: normal;
            }
        }
    }

    main.login,
    main.install {
        section {
            position: relative;
            max-width: 250px;
            margin: 0 auto;
        }

        .widget {
            position: relative;
        }

        fieldset {
            overflow: hidden;
            margin-top: 2em;

            &.submit {
                margin-top: 0;
            }

            legend {
                font-size: 18px;
                font-weight: bold;
            }
        }

        input,
        select {
            margin: 5px 0 10px;
        }

        button,
        a.button {
            margin-top: 20px;
        }
    }

    main.login {
        h1 {
            margin-bottom: 0;
        }

        p {
            margin-bottom: 30px;
        }

        a {
            display: block;
            font-size: 12px;
        }

        label {
            position: absolute;
            text-indent: -999em;

            &[for=ctrl_username] {
                top: 17px;
                right: 13px;
                width: 16px;
                height: 16px;
                background: url("../assets/images/person.svg") left top no-repeat;
                background-size: 16px 16px;
                z-index: 10;
            }

            &[for=ctrl_password] {
                top: 17px;
                right: 12px;
                width: 16px;
                height: 16px;
                background: url("../assets/images/lock.svg") left top no-repeat;
                background-size: 14px 14px;
                z-index: 10;
            }
        }
    }

    main.install {
        button {
            float: left;
            margin-right: 10px;
            width: 200px;
        }

        a.button {
            width: 40px;
            background: $text-color url('../assets/images/settings.svg') center no-repeat;
            background-size: 20px 20px;
            text-indent: -999em;
        }

        .advanced {
            button {
                width: 250px;
            }
        }
    }

    footer {
        clear: both;
        width: 250px;
        margin: 80px auto 0;
        padding: 15px 0;
        font-size: 12px;
        text-align: center;
        border-top: 1px solid #eee;

        &:before {
            content: "";
            display: table;
            clear: both
        }

        .links {
            margin: 5px 0 0;
            padding: 0;
            list-style-type: none;

            li {
                display: inline-block;

                &:not(:first-child):before {
                    content: "|";
                    padding: 0 10px 0 8px;
                }
            }

            a {
                display: inline;
                color: $footer-link;
            }
        }
    }

    @include screen(960) {
        &.wide {
            main {
                max-width: 940px;
            }

            footer {
                width: 840px;
                text-align: left;

                .links {
                    float: right;
                    margin: 0;
                }
            }
        }

        main.install {
            header {
                padding: 80px 60px 0;

                @include screen(960) {
                    float: left;
                    width: 50%;
                    padding-top: 60px;
                }
            }

            section {
                margin: 80px 50px 80px 50px;
                max-width: none;
                float: left;
                width: 370px;

                .text-field label,
                .select label {
                    float: left;
                    width: 120px;
                    padding-top: 15px;
                    font-family: $font-regular;
                }

                .checkbox {
                    margin-left: 120px;
                }

                input[type=text],
                input[type=password],
                select {
                    width: 250px;
                }

                button {
                    margin-left: 120px;
                }
            }
        }
    }
}
