// Custom properties
:root {
  --header-main-bg: #FFF;
  --footer-fragment-bdr: #eee;
  --table-odd-bg: #f5f9fa;
  --border-radius: 6px;
  --log-header-bg: var(--shadow);
}

// Dark-mode
html[data-color-scheme=dark] {
  --header-main-bg: #292c32;
  --footer-fragment-bdr: var(--footer-bdr);
  --table-odd-bg: var(--tiles-bg);
  --link-footer: #fff;
  --hint-bg: #151619;
  --hint-rgb: 21, 22, 25;
  --log-header-bg: var(--btn);

  .vjs-tree-node:hover {
    background-color: #2b3439;
  }
}

// Dark/Light images

.color-scheme--light,
html[data-color-scheme=dark] .color-scheme--dark {
  display: initial;
}

.color-scheme--dark,
html[data-color-scheme=dark] .color-scheme--light {
  display: none;
}
