
$font-weight-light: 100;
$font-weight-normal: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;

$text-color: #737373;
$link-color: #f47c00;
$highlight-color: #ffff00;
$border-color: #cccccc;
$shadow-color: #ccbfa2;
$footer-link: #2a7887;
$contao-color: #f47c00;

$green-button: #31a64b;
$red-button: #db5041;
$orange-button: #db8c41;


@mixin screen($width) {
    @media (min-width: #{$width}px) {
        @content;
    }
}
