#app > .error {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    padding: 10px;
    color: #e8e8e8;
    font-family: Menlo, Consolas, monospace;
    font-size: 13px;
    line-height: 1.2;
    background-color: rgba(0, 0, 0, 0.85098);
    background-position: initial;
    background-repeat: initial;
    z-index: 9998;

    h1 {
        display: inline;
        font-size: 1em;
        font-weight: normal;

        span {
            padding: 2px 4px;
            background-color: #E36049;
            border-radius: 2px
        }
    }

    a {
        color: #e8e8e8;
        text-decoration: underline;
    }

    div.details {
        display: block;
        margin-top: 2em;
        white-space: pre;
    }
}

#app > .https-warning {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 27px;
    padding: 4px 8px;
    background: $orange-button;
    color: #fff;
    text-align: center;
    z-index: 100;

    span {
        display: none;

        @include screen(600) {
            display: inline;
        }
    }

    a {
        color: #fff;
        text-decoration: underline;
    }

    + div {
        padding-top: 25px;
    }
}
