
/* Webfont: LatoLatin-Bold */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('../assets/fonts/LatoLatin-Bold.woff2') format('woff2'),
         url('../assets/fonts/LatoLatin-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-BoldItalic */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('../assets/fonts/LatoLatin-BoldItalic.woff2') format('woff2'),
         url('../assets/fonts/LatoLatin-BoldItalic.woff') format('woff');
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Light */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('../assets/fonts/LatoLatin-Light.woff2') format('woff2'),
         url('../assets/fonts/LatoLatin-Light.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-LightItalic */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('../assets/fonts/LatoLatin-LightItalic.woff2') format('woff2'),
         url('../assets/fonts/LatoLatin-LightItalic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Regular */@font-face {
    font-family: 'LatoLatinWebRegular';
    src: url('../assets/fonts/LatoLatin-Regular.woff2') format('woff2'),
         url('../assets/fonts/LatoLatin-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Hairline */@font-face {
    font-family: 'LatoLatinWebHairline';
    src: url('../assets/fonts/LatoLatin-Hairline.woff2') format('woff2'),
         url('../assets/fonts/LatoLatin-Hairline.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
