footer {
    clear: both;
    width: 250px;
    margin: 80px auto 0;
    padding: 15px 0;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid #eee;

    .manager & {
        width: auto;
        margin-top: 52px !important;
        padding: 20px 0;
        border-top: 1px solid #bbbbbb;
    }

    &:before {
        content: "";
        display: table;
        clear: both
    }

    strong {
        font-weight: $font-weight-normal;
    }

    .links {
        margin: 5px 0 0;
        padding: 0;
        list-style-type: none;

        li {
            display: inline-block;

            &:not(:first-child):before {
                content: "|";
                padding: 0 10px 0 8px;
            }
        }

        a {
            display: inline !important;
            color: $footer-link;
        }
    }

    div.language {
        position: relative;
        display: inline-block;
        margin-left: 5px;

        button {
            width: auto;
            height: auto;
            padding: 0 0 0 25px;
            margin-top: 10px !important;
            background: transparent;
            color: $text-color;
            font-size: 12px;
            font-weight: $font-weight-normal;
            line-height: 20px;
            background: url(../assets/images/language.svg) left center no-repeat;
            background-size: 20px 20px;
        }

        ul {
            position: absolute;
            display: none;
            width: 350px;
            left: 50%;
            bottom: 30px;
            margin: 0;
            padding: 0;
            text-align: left;
            list-style-type: none;
            white-space: nowrap;
            background: #fff;
            border-bottom: 3px solid $contao-color;
            transform: translateX(-50%);
            z-index: 100;
            box-shadow: $shadow-color 0 -1px 2px;

            &:after {
                position: absolute;
                left: 50%;
                bottom: -7px;
                width: 0;
                height: 0;
                margin-left: -4px;
                border-style: solid;
                border-width: 4px 3.5px 0 3.5px;
                border-color: $contao-color transparent transparent transparent;
                content: "";
            }
        }

        li {
            float: left;
            width: 50%;
            margin: 0;
            padding: 0;
            border-top: 1px solid #e5dfd0;

            a {
                display: block;
                margin: 0;
                padding: 5px 10px;
                color: $text-color;
                cursor: pointer;

                &:hover {
                    color: #000;
                    text-decoration: none;
                }
            }

            &:first-child,
            &:nth-child(2) {
                border-top: none;
            }
        }

        &:hover {
            ul {
                display: block;
            }
        }
    }
}

@include screen(960) {
    .table.wide {
        footer {
            width: 840px;
        }
    }

    .table.wide,
    .manager {
        footer {
            strong {
                float: left;
            }

            .links {
                float: right;
                margin: 0;
            }

            div.language button {
                margin-top: 0 !important;
            }
        }
    }
}
