@import "defaults";

.widget {
    position: relative;

    &__error {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 4px 10px;
        color: #fff;
        background: $red-button;
        border-radius: 2px;
        transform: translateY(100%);
        z-index: 10;

        &:after, &:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-bottom-color: $red-button;
            border-width: 3px;
            margin-left: -3px;
        }

        &:before {
            border-bottom-color: $red-button;
            border-width: 5px;
            margin-left: -5px;
        }
    }

    select:hover + &__error,
    input:hover + &__error,
    input:focus + &__error {
        display: block;
    }
}

input:not([type=checkbox]):not([type=radio]),
select {
    position: relative;
    width: 100%;
    height: 38px;
    padding: 0 30px 0 10px;
    background: #fff;
    border: 1px solid $border-color;
    border-radius: 2px;
    color: $text-color;
    appearance: none;

    &:focus {
        outline: none;
        background-color: #f9f9f9;
    }

    .widget.valid & {
        border-color: $green-button
    }

    .widget--error & {
        border-color: $red-button;
        animation: input-error .15s linear 3;
    }
}

.widget-select {
    &:after {
        position: absolute;
        right: 12px;
        bottom: 16px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $border-color;
        content: "";
        pointer-events: none;
    }
}

.widget-checkbox {
    input {
        position: absolute;
        visibility: hidden;
    }

    label {
        display: block;
        padding-left: 25px;
        background: url("../assets/images/widget-checkbox--off.svg") 0 1px no-repeat;
        background-size: 20px 20px;
    }

    input:checked + label {
        background-image: url("../assets/images/widget-checkbox--on.svg");
    }
}

.widget-button {
    display: inline-block;
    width: 100%;
    height: 38px;
    padding: 0;
    border: none;
    background-color: $text-color;
    color: #fff;
    font-weight: $font-weight-bold;
    line-height: 38px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;

    &--inline {
        width: auto;
        min-width: 100px;
        padding: 0 20px;
    }

    &--primary {
        background-color: $green-button;
    }

    &--warning {
        background-color: $orange-button;
    }

    &--alert {
        background-color: $red-button;
    }

    $iconSelector: '.icon-selector';
    $icons: (
        'add',
        'check',
        'edit',
        'hide',
        'link',
        'lock',
        'power',
        'run',
        'save',
        'search',
        'show',
        'trash',
        'update',
        'upload',
    );

    @each $buttonIcon in $icons {
        $iconSelector: "#{$iconSelector}, &--#{$buttonIcon}";

        &--#{$buttonIcon}:before {
            background-image: url('../assets/images/button-#{$buttonIcon}.svg');
        }
    }

    #{$iconSelector} {
        &:before {
            position: relative;
            display: inline-block;
            top: 5px;
            width: 20px;
            height: 20px;
            margin-right: 8px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px 20px;
            content:"";
        }
    }

    &:hover {
        text-decoration: none;
    }

    &:disabled,
    &.disabled {
        background-color: $border-color !important;
        cursor: not-allowed;
    }
}

label {
    padding: 0;
}
