@import "defaults";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body, #react-container, #app {
    height: 100%;
}

body, form, figure, blockquote, p {
    margin: 0;
    padding: 0
}

header, footer, main, nav, section, aside, article, figure, figcaption {
    display: block
}

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
    text-size-adjust: none;
}

body {
    background: #ebe6db;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

/*
img, svg, iframe {
    display: block;
    max-width: 100%;
    border: 0;
}

img, svg {
    height: auto;
}
*/


body, input, textarea, button {
    font: $font-weight-normal 14px/1.4 LatoLatin, Lato, Arial, sans-serif;
    color: $text-color;
}

select, input, textarea {
    font-size: 99%;


/*    @include placeholder() {
        color: $level4-text-color;
        text-indent: 0;
    }*/

    &:disabled {
        border: 0;
        color: $text-color;
        -webkit-text-fill-color: $text-color;
        cursor: text;
    }

    &::-ms-clear,
    &::-ms-reveal {
        display: none;
    }
}

.invisible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}


h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    line-height: inherit;
    font-weight: $font-weight-bold;
    margin: 0;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
}

@keyframes input-error {
    0% {
        left: 0;
    }
    25% {
        left: -5px;
    }
    75% {
        left: 5px;
    }
    100% {
        left: 0;
    }
}

@import "forms";
@import "icono.scss";
