@import "defaults";

section.package-actions {
    position: relative;
    margin-bottom: 40px;
    text-align: center;

    button.update,
    button.search {
        height: 38px;
        margin-bottom: 10px;
        line-height: 36px;
        border: 1px solid $border-color;

        &:before {
            position: relative;
            display: inline-block;
            top: 4px;
            width: 18px;
            height: 18px;
            margin-right: 8px;
            background-size: 22px 22px;
            content: "";
        }

        &.update:before {
            background: url('../assets/images/update.svg') center center no-repeat;
        }

        &.search:before {
            background: url('../assets/images/search.svg') center center no-repeat;
        }
    }

    button.cancel {
        display: none;
        position: absolute;
        top: 48px;
        right: 10px;
        width: 38px;
        margin: 0;
        color: $text-color;
        border: none;
        background: none;

        @include screen(1024) {
            top: 0;
        }
    }

    input[type=text] {
        display: none;
        margin-bottom: 10px;
        padding-right: 40px;
    }

    &.search-active {
        input[type=text] {
            display: block;
        }

        button.search {
            display: none;

            @include screen(1024) {
                display: inline-block;
            }
        }

        button.cancel {
            display: block;
        }
    }

    @include screen(1024) {
        button {
            width: 200px;
            margin: 0 15px;
        }

        input[type=text] {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
        }
    }
}

.packages .scope {
    padding: 10px 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.1em;
    line-height: 25px;
    border-top: 1px solid #cdc8a8;
    border-bottom: 1px solid #cdc8a8;

    @include screen(600) {
        h2 {
            display: inline-block;
        }
    }

    fieldset {
        display: inline-block;
        padding: 0 10px;
        margin-left: 10px;

        &.active {
            color: $footer-link;
        }
    }
}

.package {
    margin-bottom: 14px;
    background: #fff;
    border-bottom: 3px solid #ddd3bc;
    border-radius: 2px;

    .hint {
        position: relative;
        padding: 8px 150px 8px 56px;
        font: 12px/1.8 $font-regular;
        border-radius: 2px 2px 0 0;
        background: #e8c8bc url('../assets/images/hint.svg') 20px 5px no-repeat;
        background-size: 28px 28px;

        p a {
            display: inline-block;
            padding-right: 10px;

            &:first-child {
                margin-left: 10px;
            }

            &:not(:first-child):before {
                padding-right: 10px;
                content: "|";
            }
        }

        .close {
            position: absolute;
            right: 20px;
            top: 8px;
            padding-left: 18px;
            background: url('../assets/images/close.svg') left center no-repeat;
            background-size: 14px 14px;
        }
    }

    .inside {
        overflow: hidden;
        padding: 10px 20px 20px;

        @include screen(1024) {
            padding: 25px 20px;
        }
    }

    figure {
        display: none;

        img {
            width: 100%;
            height: 100%;
        }

        @include screen(1024) {
            display: block;
            float: left;
            width: 90px;
            height: 90px;
            margin-right: 20px;
        }
    }

    .about {
        margin-bottom: 20px;

        @include screen(1024) {
            float: left;
            width: 390px;
            margin-bottom: 0;
        }

        @include screen(1180) {
            width: 610px;
        }

        h1 {
            position: relative;
            margin-bottom: 5px;

            &.badge {
                padding-right: 100px;

                @include screen(1024) {
                    padding-right: 0;
                }
            }

            > span {
                position: absolute;
                top: 6px;
                right: 0;
                padding: 0 8px;
                background: $red-button;
                border-radius: 2px;
                font-size: 12px;
                line-height: 19px;
                color: #fff;
                cursor: help;

                @include screen(800) {
                    right: auto;
                    margin-left: 10px;
                }
            }
        }

        .description {
            margin-bottom: 1em;

            a.more {
                margin-left: 5px;
            }
        }

        .additional {
            span:not(:first-child):before {
                margin: 0 10px;
                content: "|";
            }
        }
    }

    .release {
        text-align: right;
        margin-bottom: 10px;

        @include screen(600) {
            float: left;
            width: 33%;
        }

        @include screen(1024) {
            width: 160px;
            margin-left: 40px;
            margin-bottom: 0;
        }

        input[type=text] {
            float: left;
            width: calc(100% - 32px);
            height: 30px;
            margin-right: 2px;
            background: #fff;
            border: 2px solid $orange-button;
            color: #000;
            font-weight: bold;
            text-align: center;
            line-height: 30px;

            //noinspection CssInvalidPseudoSelector
            &::placeholder {
                color: #fff;
            }

            &:disabled {
                color: #fff;
                background: $orange-button;
                -webkit-text-fill-color: #fff;
            }
        }

        button {
            width: 30px;
            height: 30px;
            padding: 6px;
            line-height: 20px;
            background: $orange-button url('../assets/images/settings.svg') center no-repeat;
            background-size: 20px 20px;
            text-indent: -999em;
        }

        /*&.validating button {
            animation: release-validating 2s linear infinite;
        }*/

        &.error input {
            animation: input-error .15s linear 3;
        }

        .version {
            display: none;

            @include screen(1024) {
                display: block;
                margin-top: 20px;
                text-align: center;
            }

            time {
                display: block;
            }
        }
    }

    .actions {
        @include screen(600) {
            float: right;
            width: 66%;
            max-width: 500px;
            margin-top: -5px;
            padding-left: 40px;
            text-align: right;
        }

        @include screen(1024) {
            width: 160px;
            margin-left: 40px;
            padding-left: 0;
        }

        button {
            width: 100%;

            @include screen(600) {
                display: inline-block;
                width: 160px;
            }

            @include screen(1024) {
                width: 100%;
                margin-bottom: 10px;
            }

            &.enable,
            &.disable {
                margin-right: 5%;

                &:before {
                    position: relative;
                    display: inline-block;
                    top: 4px;
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;
                    background: url('../assets/images/power.svg') center no-repeat;
                    background-size: 20px 20px;
                    content:"";
                }
            }

            &.enable,
            &.install {
                background: $green-button;
            }

            &.uninstall {
                background: $red-button;

                &:before {
                    position: relative;
                    display: inline-block;
                    top: 6px;
                    width: 16px;
                    height: 22px;
                    margin-right: 8px;
                    background: url('../assets/images/delete.svg') center no-repeat;
                    background-size: 22px 22px;
                    content:"";
                }
            }
        }
    }
}

#package-actions {
    position: fixed;
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    background: #000;
    background: rgba(0,0,0, 0.8);
    color: #fff;
    transition: height .4s ease;

    &.active {
        height: 80px;
    }

    .inner {
        margin: 0 20px;
        padding: 20px 0;
        text-align: right;

        @include screen(1024) {
            max-width: 960px;
            margin: 0 auto;
        }

        @include screen(1200) {
            max-width: 1180px;
        }
    }

    p {
        display: none;

        @include screen(600) {
            display: inline;
            font-weight: bold;
        }
    }

    button {
        width: calc(50% - 10px);
        padding: 0 15px;

        &:last-child {
            margin-left: 16px;
        }

        @include screen(600) {
            width: auto;
            margin-left: 16px;
        }
    }
}

@keyframes release-validating {
    100% {
        transform: rotate(360deg);
    }
}
