main.selftest {
    h1 {
        display: block;
        padding: 30px 0 0;
        font: 60px $font-hairline;
        font-weight: normal;
        font-style: normal;
    }

    section {
        margin: 0 50px;
    }

    .test {
        td {
            padding: 5px;
        }

        svg {
            width: 32px;
        }

        .message {
            font-family: $font-regular;
        }

        .explain {
            display: inline-block;
            padding: 2px 4px;
            border-radius: 2px
        }

        &.success {
            svg {
                fill: $green-button;
            }
        }

        &.warning {
            svg {
                fill: $orange-button;
            }

            .explain {
                color: #fff;
                font-weight:bold;
                background: $orange-button;
            }
        }

        &.fail {
            svg {
                fill: $red-button;
            }

            .explain {
                color: #fff;
                font-weight:bold;
                background: $red-button;
            }
        }
    }

    fieldset {
        margin-top: 50px;
        text-align: center;
    }
}
