.row
  .col-md-8
    a(href="https://github.com/contao/package-manager", target="_blank") Tenside #{app.tensideVersion}
    | &nbsp;-&nbsp;
    a(href="https://association.contao.org/", target="_blank") &copy; Contao Association
  .col-md-4.text-right
    a(href="https://github.com/contao/package-manager/issues/", target="_blank") Support
